body {
    background: #f5f5f5;
}

.logo {
    height: auto;
    width: auto;
    max-height: 36px;
}

.icon {
    height: auto;
    width: auto;
    max-height: 256px;
}

.width-limit {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.width-limit-better {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.title-bar {
    width: 100%;
    z-index: 10;
    transition: height .25s ease;
    height: 4.5em;
    background-color: #981115;
}

.title-bar .title-bar-right,
.title-bar .title-bar-left {
    transition: padding-top .25s ease;
    padding-top: 1.4em;
}
.title-bar.shrink {
    height: 3em;
}
.title-bar.shrink .title-bar-right,
.title-bar.shrink .title-bar-left {
    padding-top: 0em;
}
.title-bar .sticky-shrinknav-menu li {
    float: left;
}

#root {
    margin-top: 2em;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}


.sticky-shrinknav-menu a {
  color: #fefefe;
}

.foot-bar {
  background: #981115;
  color: #fefefe;
}

.foot-bar-menu a {
  color: #fefefe;
}

.display-block a {
    color: #981115;
}

.dashboard-number-card {
    background: #fff;
    border-radius: 5px;
    margin: 0 20px 20px;
    position: relative;
}

.dashboard-number-card .dashboard-number-delta {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    bottom: 6px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.7;
    position: absolute;
    right: 6px;
    color: #981115;
}

.dashboard-number-card .dashboard-number-delta i {
    margin-right: 5px;
    width: 0.6rem;
}

.dashboard-number-card.positive .dashboard-number-delta, .dashboard-number-card.negative .dashboard-number-delta {
    color: #fefefe;
}

.dashboard-number-card.positive .dashboard-number-value,
.dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-value,
.dashboard-number-card.negative .dashboard-number-area {
    color: white;
}

.dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-area {
    opacity: 0.6;
}

.dashboard-number-card.positive {
    background: #981115;
}

.dashboard-number-card.negative {
    background: #353535;
}

.dashboard-number-value {
    color: #981115;
    font-size: 22px;
    font-weight: 800;
    padding: 1rem 2rem 1.75rem;
    text-align: center;
}

.dashboard-number-area {
    bottom: 6px;
    color: #981115;
    font-size: 12px;
    left: 6px;
    margin-bottom: 0;
    position: absolute;
}


.list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
}

.list-group > :last-child {
    margin-bottom: 0;
}

.list-group-item {
    padding: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-item a {
    color: #981115;
}

.list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #e6e6e6;
}

.list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
}