body {
    background: #0a1128;
}

#log-terminal {
    height: 30rem;
    color: #fefcfb;
    font-family: Courier New;
    overflow:auto;
}

#div-statics {
    background: #fefcfb;
    height: 400px;
}

p, title, h1, h2, h3, h4, h5 {
    color: #fefcfb;
}

.light-label {
    color: #fefcfb;
}

.logo {
    height: auto;
    width: auto;
    max-height: 48px;
}

.logo-big {
    height: auto;
    width: auto;
    max-height: 72px;
}

.icon {
    height: auto;
    width: auto;
    max-height: 256px;
}

.width-limit {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.width-limit-better {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.title-bar {
    width: 100%;
    z-index: 100;
    transition: height .25s ease;
    height: 4.5em;
    background-color: rgba(10, 17, 40, 0);
}

.title-bar .title-bar-right,
.title-bar .title-bar-left {
    transition: padding-top .25s ease;
    padding-top: 1.4em;
}
.title-bar.shrink {
    height: 3em;
    background-color: rgba(10, 17, 40, 1);
}
.title-bar.shrink .title-bar-right,
.title-bar.shrink .title-bar-left {
    padding-top: 0em;
}
.title-bar .sticky-shrinknav-menu li {
    float: left;
}

#root {
    margin-top: 2em;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefcfb;
}


.sticky-shrinknav-menu a {
  color: #fefcfb;
}

.foot-bar {
  background: #30aabc;
  color: #fefcfb;
}

.display-block a {
    color: #30aabc;
}

.list-group {
    margin-bottom: 1rem;
    border: 1px solid #fefcfb;
    border-radius: 0;
    background: #fefcfb;
    box-shadow: none;
    overflow: hidden;
    color: #0a1128;
}

.list-group > :last-child {
    margin-bottom: 0;
}

.list-group-item {
    padding: 0.5rem;
    border-bottom: 1px solid #fefcfb;
}

.list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-item a {
    color: #fefcfb;
}

.list-group-item.active {
    color: #fefcfb;
    background-color: #034078;
    border-color: 1px solid #034078;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #fefcfb;
}

.list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #fefcfb;
    cursor: not-allowed;
    background-color: #fefcfb;
}


.hero-search-filter {
    background: url("https://images.pexels.com/photos/115095/pexels-photo-115095.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat;
    height: 300px;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-search-filter-logo {
    margin-bottom: 2rem;
}

.hero-search-filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 300px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-search-filter-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
    .hero-search-filter-menu li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .hero-search-filter-menu li a {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.hero-search-filter-menu a {
    font-weight: bold;
    color: #fefcfb;
}

.hero-search-filter-menu a .fa {
    font-size: 1.125rem;
    font-weight: normal;
    text-decoration: none;
}

.hero-search-filter-menu a:hover {
    text-decoration: underline;
}

.hero-search-filter-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    background: #fefcfb;
    padding: 0.25rem;
    border-radius: 5px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-search-filter-form .divider {
    background-color: #fefcfb;
    width: 1px;
}

.hero-search-filter-form label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: #0a1128;
    font-weight: bold;
    white-space: nowrap;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
    margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
    .hero-search-filter-form {
        width: 95%;
    }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
    border: 0;
    box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
    border: 0;
    box-shadow: none;
}

