<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anonymix | Welcome</title>
  <!--<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.css">-->
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>

<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-left">
      <a href="/index.html">
        <img id="image" class="logo" src="/static/anonymix_logo_white.png">
      </a>
    </div>
    <div class="title-bar-right">
      <ul class="menu sticky-shrinknav-menu align-right">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/project.html">Project</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-y text-center">
  <h2>How Does it Work</h2>
  <p class="lead">xxx - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
</div>

<hr>

<div class="grid-y text-center width-limit-better">
  <h2>Receive Free Bitcoin</h2>
  <form>
    <div class="grid-x align-center">
      <div class="medium-7 cell">
        <div class="input-group">
          <span class="input-group-label">BTC</span>
          <input class="input-group-field" type="number" name="amount" placeholder="Enter amount BTC to receive up to 5">
          <div class="input-group-button">
            <input type="submit" class="button alert" value="Receive BTC">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<hr>

<div class="grid-y text-center width-limit-better">
  <h2>Transaction Explorer</h2>
  <form>
    <div class="grid-x align-center">
      <div class="medium-10 cell">
        <div class="input-group">
          <input class="input-group-field" type="text" name="text" placeholder="Enter Txid">
          <div class="input-group-button">
            <input type="submit" class="button alert" value="Find Transaction">
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--<form method="POST" class="navbar-form navbar-left grid-x align-center" role="search">-->
    <!--<div class="form-group align-center">-->
      <!--<input style="width:600px" type="text" name="text" placeholder="Enter Txid">-->
    <!--</div>-->
    <!--<button type="submit" name="Get transaction" class="button button-default">Find Transaction</button>-->
  <!--</form>-->
  <ul class="list-group">
    {% for transaction in transactions %}
    <li class="list-group-item"><a href={{ url_for('find_transaction', tx_id=transaction)}}>{{transaction}}</a></li>
    {% endfor %}
  </ul>
  <ul class="menu align-center">
    {% if page_index > 0 %}
    <li><a href={{ url_for('load_transaction', page_index=page_index-1)}}>&larr; Newer</a></li>
    {% else %}
    <li class= "disabled"><a href={{ url_for('load_transaction', page_index=page_index-1)}}>&larr; Newer</a></li>
    {% endif %}
    <li><a href={{ url_for('load_transaction', page_index=page_index+1)}}>Older &rarr;</a></li>
  </ul>
</div>

<div class="callout large">
  <div class="text-center">
    <img id="image" class="icon" src="/static/anonymix.png">
    <h1>Get Database</h1>
    <p class="lead">xxx - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
    <!--<a href="#" class="button large hollow">Download</a>-->
    <form method="POST">
      <input class="button alert" id="getdb" type="submit" name="submit" value="Get Database">
    </form>
  </div>
</div>

<footer class="foot-bar">
  <div class="grid-x grid-padding-x align-center-middle" style="height: 5rem;">
    <div class="cell text-center">
      Copyright 2017 Cornell University Soumya Lab Group
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Compressed JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>

<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!--<script src="static/js/app.js"></script>-->
<script>
    $(document).foundation();

    $('.title-bar').on('sticky.zf.stuckto:top', function(){
        $(this).addClass('shrink');
    }).on('sticky.zf.unstuckfrom:top', function(){
        $(this).removeClass('shrink');
    })
</script>
</body>
</html>